dibi:
	host: localhost
	username: root
	password:
	database: 318_cms
	lazy: TRUE

parameters:
	isSinglePage: false
	adminHost: cms.freetech.cz
	language: 36

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

application:
	catchExceptions: false
	errorPresenter: Error
	mapping:
	    *: *Presenter

session:
	expiration: 14 days

services:
	routerFactory: RouterFactory
	router: @routerFactory::createRouter
	library: cms\Library
	menuModel: cms\MenuModel(@dibi.connection, @library, %siteId%)
	pageModel: cms\PageModel(@dibi.connection)
	galleryModel: cms\GalleryModel(@dibi.connection)
	languageModel: cms\LanguageModel(@dibi.connection)
	articleModel: cms\ArticleModel(@dibi.connection)
	albumModel: cms\AlbumModel(@dibi.connection)
	commentModel: cms\CommentModel(@dibi.connection, @library)
	concertModel: cms\ConcertModel(@dibi.connection)
	mailer: Nette\Mail\SendmailMailer

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

tracy:
	email: info@freetech.cz