parameters:
    isSinglePage: false

php:
    date.timezone: Europe/Prague
    # zlib.output_compression: yes

nette:
    application:
        catchExceptions: true
        #errorPresenter: Error

    session:
        expiration: 14 days

services:
    routerFactory: RouterFactory
    router: @routerFactory::createRouter
    library: cms\Library
    menuModel: cms\MenuModel(@dibi.connection, @library, %siteId%)
    pageModel: cms\PageModel(@dibi.connection)
    galleryModel: cms\GalleryModel(@dibi.connection)
    languageModel: cms\LanguageModel(@dibi.connection)
    articleModel: cms\ArticleModel(@dibi.connection)
    albumModel: cms\AlbumModel(@dibi.connection)
    commentModel: cms\CommentModel(@dibi.connection, @library)
    concertModel: cms\ConcertModel(@dibi.connection)
    mailer: Nette\Mail\SendmailMailer

extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22

tracy:
    email: info@freetech.cz